.main-block {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 1280px;
}
.contract-container {
  background-color: #ffc629;
  color: #fff;
}
.contract-container .steps-container {
  float: left;
  padding: 15px 20px 20px;
}
.contract-container .steps-container .steps-title {
  display: inline-block;
  margin-right: 20px;
  font-size: 36px;
}
.contract-container .steps-container .steps-description {
  display: inline-block;
  font-size: 18px;
}
.contract-container .steps-container .steps-wrapper {
  margin: 20px 0 0 50px;
  text-align: center;
}
.contract-container .steps-container .steps-wrapper li {
  float: left;
  width: 120px;
}
.contract-container .steps-container .steps-wrapper li:nth-child(even) {
  margin-top: 28px;
  height: 0;
  border-top: 1px dashed #eee;
}
.contract-container .steps-container .steps-wrapper li .step-num {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 2px solid #fff;
  border-radius: 50px;
  font-size: 22px;
}
.contract-container .btn-handel {
  float: right;
  margin: 80px 100px 0 0;
  padding: 8px 50px;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
}
.contract-container .btn-handel:active {
  background-color: rgba(0, 0, 0, 0.05);
}
.cabinet-container {
  position: relative;
  margin-top: 70px;
  height: 340px;
  color: #fff;
}
.cabinet-container .cabinet-bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.cabinet-container .cabinet-bg::after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.5;
}
.cabinet-container .cabinet-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.cabinet-container .cabinet-title {
  position: relative;
  z-index: 2;
  padding: 30px 0 0 40px;
}
.cabinet-container .cabinet-title .title {
  font-size: 38px;
}
.cabinet-container .cabinet-title .subtitle {
  font-size: 26px;
  color: #ddd;
}
.cabinet-container .cabinet-title .warning {
  font-size: 12px;
  color: #E43636;
}
.cabinet-container .cabinet-info {
  position: absolute;
  z-index: 2;
  bottom: 30px;
  left: 40px;
  color: #ccc;
}
.cabinet-container .cabinet-price {
  position: absolute;
  z-index: 2;
  width: 340px;
  top: 120px;
  right: 100px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.cabinet-container .cabinet-price .price {
  font-size: 40px;
}
.cabinet-container .cabinet-price .phone {
  font-size: 18px;
}
