.microapp-header .banner-wrapper {
  height: 300px;
}
.microapp-header .banner-wrapper .slogan-container .slogan-wrapper {
  padding-top: 150px;
  margin-left: 130px;
}
.microapp-header .banner-wrapper .slogan-container .slogan-wrapper h2 {
  margin-bottom: 10px;
}
.main-block {
  margin: 0 auto;
  padding: 50px 0;
  width: 1280px;
  text-align: center;
}
.main-block .code-container {
  display: inline-block;
  vertical-align: middle;
  margin-right: 100px;
  border: 1px solid #eee;
}
.main-block .code-container:last-of-type {
  margin-right: 0;
}
.main-block .code-container p {
  margin: 30px 0 20px;
  font-size: 18px;
  color: #999;
}
.main-block .code-container img {
  margin: 0 30px 20px;
  width: 250px;
}
.main-block .code-container .code-title {
  padding: 20px 0;
  font-size: 20px;
  font-weight: normal;
  color: #fff;
  background-color: #ffc629;
}
