<footer class="body-footer">
  <ul class="clear">
    <li>
      <section class="box">
        <header><h4 class="title">服务支持</h4></header>
        <p>售前咨询：0755-83828222</p>
        <p>售后服务：0755-83828222</p>
      </section>
    </li>
    <li>
      <section class="box">
        <header><h4 class="title">联系我们</h4></header>
        <p>邮箱：bd@yopoint.com</p>
        <p>地址：深圳市南山区南山智园C2栋22F</p>
      </section>
    </li>
    <li>
      <section class="box">
        <header><h4 class="title"></h4></header>
        <p>合作洽谈：0755-83828222</p>
      </section>
    </li>
    <li>
      <img src="/assets/images/qrcode_contact.png" alt="" class="qrcode">
    </li>
  </ul>
  <p class="copyright">copyright 2017 深圳友朋智能商业科技有限公司   粤ICP备13067386号-2</p>
</footer>
