<nav class="nav-container">
  <div class="nav-wrapper clear">
    <div class="logo-container">
      <a href="http://www.yopoint.com/">
        <img src="/assets/images/logo.png" alt="" class="logo">
      </a>
      <h1 class="title">智能零售终端</h1>
    </div>
    <ul class="nav-list clear">
      <li class="<% if (index === 0) { %>active<% } %>">
        <a href="/">首页</a>
      </li>
      <li class="<% if (index === 1) { %>active<% } %>">
        <a href="javascript:;">
          购买设备
          <i class="iconfont icon-arrow-down"></i>
          <i class="iconfont icon-arrow-up"></i>
        </a>
        <ul class="sub-nav">
          <li><a href="/vmax.html">Vmax大屏系列</a></li>
          <li><a href="/yogo.html">Yo!Go 货架</a></li>
          <!-- <li><a href="javascript:alert('敬请期待');">Vmix综合系列</a></li>
          <li><a href="javascript:alert('敬请期待');">Varm机型抓臂</a></li> -->
        </ul>
      </li>
      <li class="<% if (index === 2) { %>active<% } %>">
        <a href="javascript:;">
          开放平台
          <i class="iconfont icon-arrow-down"></i>
          <i class="iconfont icon-arrow-up"></i>
        </a>
        <ul class="sub-nav">
          <li><a href="//o.yopoint.com">智慧运营平台</a></li>
          <li><a href="//f.yopoint.com">生产管理平台</a></li>
          <li><a href="/microapp.html">Yo!礼小程序</a></li>
          <!-- <li><a href="/a.html">智慧选点神器</a></li> -->
        </ul>
      </li>
      <!-- <li class="<% if (index === 3) { %>active<% } %>">
        <a href="javascript:;">
          商业合作
          <i class="iconfont icon-arrow-down"></i>
          <i class="iconfont icon-arrow-up"></i>
        </a>
        <ul class="sub-nav">
          <li><a href="">我是运营商</a></li>
          <li><a href="">我是生产制造商</a></li>
          <li><a href="/a.html">我是品牌供应商</a></li>
        </ul>
      </li> -->
      <!-- <li class="<% if (index === 4) { %>active<% } %>">
        <a href="javascript:;">友朋新零售商学院</a>
      </li> -->
      <li class="<% if (index === 5) { %>active<% } %>">
        <a href="/about.html">
          关于友朋
          <!-- <i class="iconfont icon-arrow-down"></i>
          <i class="iconfont icon-arrow-up"></i> -->
        </a>
        <!-- <ul class="sub-nav">
            <li><a href="/a.html">友朋微观</a></li>
            <li><a href="/a.html">友朋介绍</a></li>
            <li><a href="/a.html">联系我们</a></li>
        </ul> -->
      </li>
    </ul>
  </div>
</nav>
